bin/data/settings/
bin/feedra_debug
bin/feedra
bin/feedra.exe
bin/feedra_debug.exe
bin/libfmod.so
bin/feedra_debug.pdb
bin/*.dll
bin/openal-info.exe
feedra.vcxproj.user
includes/
build/
cmake-build-*/
out/
obj/
.vs/
icon.rc
.idea/
bin/feedra.exe.orig
bin/feedra.instr.pdb
bin/feedra.pdb
bin/feedra_debug.exe.orig
bin/feedra_debug.instr.pdb
