bin/data/settings/
bin/feedra_debug
bin/feedra
bin/feedra.exe
bin/feedra_debug.exe
bin/libfmod.so
bin/feedra_debug.pdb
bin/*.dll
bin/openal-info.exe
feedra.sln
feedra.vcxproj
feedra.vcxproj.filters
feedra.vcxproj.user
includes/
#libs/
build/
obj/
.vs/
icon.rc
feedra.qbs.user
